* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: consolas;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #262626;
}

nav {
    position: relative;
    display: flex;
}

nav a {
    position: relative;
    margin: 0 20px;
    font-size: 2em;
    color: #fff;
    text-decoration: none;

}

nav #marker {
    position: absolute;
    left: 0px;
    height: 4px;
    width: 0;
    background:#bb2cd9;
    bottom: -8px;
    transition: 0.5s;
    border-radius: 4px;
}